{% if cart.item_count > 0 %}

  {% else %}
  <div class="flex justify-center item-center">
    <div class="text-center">
      <h1>cart is empty</h1>
    </div>
  </div>
  
{% endif %}



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}