{% if cart.item_count > 0 %}

  {% else %}
  <div class="max-w-6xl my-4 h-60 flex justify-center items-center">
    <div class="text-center">
      <h1 class="font-medium text-xl my-4"> Your cart is empty</h1>
      <div class="border border-gray-900 bg-gray-900 text-white  font-medium py-2 px-3 rounded-md ">
        <a href="{{ routes.all_products_collection_url }}" >Continue Shoping</a>
      </div>
    </div>
  </div>
  
{% endif %}



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}